.expression-header {
    background-color: white;
}

.new-mnemonics-button {
    width: 180px;
    margin: 20px calc(50% - 90px);
}

.edit-expression-button {
    width: 180px;
    margin: 0px calc(50% - 90px) 40px;
}
