.expression-create-content {
    margin: 40px 0px 40px;
}

.mnemonic-create-content {
    margin-top: 40px;
}

.create-expression-button {
    margin: 30px calc(50% - 74px);
}

.delete-expression-button {
    margin: 0px calc(50% - 70.4px);
}

.add-mnemonic-button {
    margin: 30px calc(50% - 83.1px) 0px;
}

.expression-inputs {
    margin-top: 40px;
}

.site-tag-plus {
    background: #fff;
    border-style: dashed;
}

.edit-tag {
    user-select: none;
}

.tag-input {
    width: 78px;
    margin-right: 8px;
    vertical-align: top;
}

.mnemonic-delete-button {
    margin-left: 15px;
}

.spin {
    margin-top: 24px;
}
